<tr>
  <td class="list"><br/>
    <%=link_to list.title, url_for(:controller=>"tasks",:action=>"index",:list_id=>list.id) %><br/>
    <span class="timestamp">
      Posted <%= time_ago_in_words(list.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(list.user) %>
  <td>
    <%= link_to 'Destroy',list,:confirm=>'Вы уверены?',:method=>:delete %>
  </td>
  <% end %>
</tr>