-if show_this_list?(list)
  .list_conteiner
    .span11
      = link_to list.title, list_tasks_path(list)  , class: "list_name"
      %br/
      .timespan
        Posted #{time_ago_in_words(list.created_at)} ago.
    .span1
      - if current_user?(list.user)
        = link_to edit, edit_list_path(list)
        = link_to del,list_path(list),:confirm => "Вы уверены?",:method=>:delete
