<tr>
  <td class="list"><br/>
    <span class="content"><%= list.title %></span><br/>
    <span class="timestamp">
      Posted <%= time_ago_in_words(list.created_at) %> ago.
    </span>
  </td>
</tr>