<h1>Регистрация нового пользователя:</h1>

<%= form_tag do  %>
  <div class="field">
  	<h3>Вниманиие! Если вы не обнаружили в течении пары минут сообщение с продолжением регистрации в входящих сообщениях, проверьте папку с спамом!</h3>
    <label for="mail">Введите ваш адрес электронной почты:</label>
    <%=text_field_tag :email, params[:email]%>
  </div>
  <div class="actions">
    <%= submit_tag "Sign up" %>
  </div>
<% end %>