%h1.center Регистрация нового пользователя:

= form_tag do
  %fieldset
    .field
      %legend Вниманиие! Если вы не обнаружили в течении пары минут сообщение с продолжением регистрации в входящих сообщениях, проверьте папку с спамом!
      %label Введите ваш адрес электронной почты:
      = text_field_tag :email, params[:email]
    .actions
      = submit_tag "Sign up" , :class=>"btn"
