%h1 О приложении
%p
  Данное веб-приложение является учебным, и я его использую для наработки навыков и получения опыта работы с Ruby on rail.
  В дальнейшем возможно развитие в более серьезный проект.
