- if signed_in?
  %table.front{:summary => "For signed-in users"}
    %tr
      %td.main
        %h1.task What's up?
        = render 'shared/task_form'
        = render 'shared/feed'
      %td.sidebar.round
        = render 'shared/user_info'
- else
  %h1 TODO-list
  %p
    Простое приложение для создания и управления своими списками задач.
  = link_to "Зарегестрируйтесь сейчас!", signup_path, :class => "signup_button round"
