<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="task">What's up?</h1>
        <%= render 'shared/task_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>TODO-list</h1>
  <p>
Простое приложение для создания и управления своими списками задач.
  </p>
  <%= link_to "Зарегестрируйтесь сейчас!", signup_path, :class => "signup_button round" %>
<% end %>