/* Tasks */
h1.task{
  margin-bottom: 0.3em;
}
img.img_done {
height: 16px;
}

.del_button{
float: right;
margin-left: 10px;
}

.task_conteiner{
background: #DBDBDB;
border: 1px solid #C1C1C1;
margin-top: 10px;
}

table.tasks {
  margin-top: 1em;
}

table.tasks tr {
  height: 70px;
}

table.tasks tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.tasks tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}
div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.tasks {
  font-size: 80%;
}

form.new_task {
  margin-bottom: 2em;
}

form.new_task textarea {
  height: 4em;
  margin-bottom: 0;
}
a.done
{
}
span.content
{
  font-size: 150%;
}