<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
  <h1>Welcom to TODO-list app!</h1>
  <p>Для продолжения регистрации, перейдите по ссылке:</p>
    <%=link_to "Продолжить регистрацию!", new_user_url(:email=>@mail) %>
  </body>
</html>