%footer
  %nav.round.navbar-fixed-bottom
    %ul
      %li= link_to "О приложении.", about_path
      %li= link_to "Контакты", contact_path
      %li= link_to "Помощь", help_path
      %li
        %a{:href => "#"} Новости*
