<footer>
  <nav class="round navbar-fixed-bottom">
    <ul>
      <li><%= link_to "О приложении", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><%= link_to "Помощь", help_path %></li>
      <li><a href=#>Новости*</a></li>
    </ul>
  </nav>
</footer>